*{
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
}
.container{
    width: 100%;
    height: fit-content;
    background: #ffffff;
}
.header{
    width: 1100px;
    height:fit-content;
    padding: 26px 0;
    margin: auto;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}
.header_left{
    display: flex;
}
.header_left img{
    width: 119px;
    height: 38.91px;
}
.header_left ul{
    display: flex;
    list-style: none;
}
.header_left li{
    height: 100%;
    width: fit-content;
    background: #ffffff;
    display: flex;

}
.header_left li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    background: #ffffff;
    padding: 5px 7px 0 15px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 100%;
}
.header_right div div{
    position: absolute;
    width: 1px;
    height: 18px;
    right: 5px;
    background: #000000;
    box-shadow: 1 1 1 2px black;
}
.header_right ul{
    display: flex;
    gap: 15px;
}
.header_right ul li{
    display: flex;
    flex-direction: column;

    gap: 10px;
    font-size: 16px;
    margin: -10px 10px 0 10px;
}
.header_right ul li div{
    display: flex;
    position: relative;
}
.header_right a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 7px;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
}
.header_right .text{
    font-weight: 400;
    font-size: 14px;
}
.fa-sun{
    width: 20px;
    height: 20px;
    color: rgb(174, 174, 54);
}
.fa-calendar-day{
    width: 20px;
    height: 20px;
    color: rgb(68, 68, 249);
}
.fa-dollar-sign{
    width: 20px;
    height: 20px;
}
.part1{
    width: 1110px;
    height: fit-content;    
    margin: auto;
    padding: 5px 0;
}
.part1_img {
    width: 100%;
    height: 75px;
    position: relative;
}
.part1_img div {
    position: absolute;
    width: 100%;
    height: fit-content;
    top:0;
    left:0;
    height:0;
    overflow: hidden;
    transition: all 1s;
}
.part1_img img{
    width: 100%;
}
.part1_img div img {
    position: relative;
    width: 100%;
    height:595px;
    transition: all 2s;
}
.part1_img:hover div{
    height: 595px;
    transition:all 1s;
}
    .part1_middle {
    width: 100%;
    height: 385px;
    display: flex;
    flex-grow: 1;
    gap: 15px;
} 
.part1_middle img{
    height: 100%;
}
.part1_left p:nth-child(1){
    padding: 8px 15px;
    width:fit-content;
    height: fit-content;
    border-radius: 30px;
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
    background: linear-gradient(-120deg,#e08100,#c90027);
    transition: all 0.3s;
}
.part1_left p:nth-child(1):hover{
    padding: 8px 20px;
    transition: all 0.3s;
}
.part1_left{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

